.puph {
  position: fixed;
  left: 50%;
  bottom: 5%;
  width: 20%;
  margin-left: -10%;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 10000;
}
.puph img {
  display: block;
  width: 100%;
}

.pulse {
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(.8);
    opacity: .7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(.8);
    opacity: .7;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(.8);
    opacity: .7;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(.8);
    opacity: .7;
  }
}
